* {
    margin: 0;
    padding: 0%;
}

.botao-zap {
    position: fixed;
    width: 50px;
    right: 20px;
    bottom: 20px;
    border-radius: 999px;

    animation: upToDown infinite 5s;
}

@keyframes upToDown {
    0% {
        bottom: 20px;
    }
    25% {
        bottom: 25px;
        box-shadow: 0px 0px 20px green;
    }
    50% {
        bottom: 20px;
        box-shadow: none;
    }
    75% {
        bottom: 25px;
        box-shadow: 0px 0px 20px green;
    }
    100% {
        bottom: 20px;
    }
}