.produtos-img {
    flex: 1 1 300px; /* Cada imagem ocupará uma largura mínima de 300px */
    max-width: 100%; /* Não ultrapassa a largura do container */
}
body {
    font-size: 16px; /* Tamanho da fonte padrão */
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 0;
    }
    
    .banner {
        width: 100%;
    }

    .input-padrao {
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 16px;
    }

    .produtos-img {
        width: 100%;
        height: auto;
    }
    
    .principal .utensilios {
        width: 100%;
    }
    
    .imagens-de-demonstracaoo {
        margin: 0;
    }
}
