@import url(./fontes/textoFontes.css);

header {
	background: #ffae00;
	padding: 10px;
	align-items: center;
	border-top: 2px solid #000000;
	border-bottom: 2px solid black;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
	margin-right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	margin-left: 10px;
}

nav a:hover {
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 20px#ffffff;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.content-frase-chamativa {
	margin: 150px;
	margin-bottom: 350px;
}
.frase-chamativa {
	font-family: "Ms Madi", serif;
 	font-weight: bolder;
  	font-style: normal;
	font-size: 85px;
	word-spacing: 10px;
}

.titulo-produtos {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-family: "Ms Madi", serif;
	text-align: center;
	font-size: 70px;
	line-height: 1;
	word-spacing: 5px;

	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0% cover 40%;
}
.titulo-produtos::after {
    content: '';
    width: 100%;
    max-width: 8rem;
	border-radius: 4px;
    height: 0.4rem;
    background: #1e1f20;
    display: inline-block;
    margin: 1.5rem auto 80px auto;
}

article {
	text-align: center;
	margin: auto;
}

article.produtos {
	text-align: center;
	align-items: center;
}

article p {
	display: flex;
	flex-direction: column;
	font-size: 100px;
	font-weight: 400;
}

p.info {
	font-size: 22px;
	margin: 20%;
	margin-bottom: 20vh;
	margin-top: auto;
}

.produtos {
	align-items: center;
	justify-content: center;
	text-align: center;

	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0% cover 25%;
}

.produtos-img {
    width: 250px;
    height: 300px;
    transition: 0.3s;
	border-radius: 10px;
}

.produtos-img:hover {
	transform: translateY(-5px);
    color: #353535;
}

.figuras {
	margin-bottom: 40px;
}

.figuras img {
	margin: 3px;
}

.container-link {
	justify-content: center;
	text-align: center;
	align-items: center;
}
.link-catalogo {
	font-size: 25px;
}

button {
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30vh;
	font-size: medium;
	border: none;
	border-radius: 4px;
	background-color: #ffae00;
	box-shadow: 0px 0px 5px#000000;
	transition: 0.5s;
}
button:hover {
	cursor: pointer;
	padding: 21px;
	font-size: 18px;
	box-shadow: 0px 0px 10px#000000;
	background-color: #ffae00;
}

.link {
	text-decoration: none;
	color: white;
	font-weight: 600;
	text-shadow: 0px 0px 2px#000000;
}

footer {
	text-align: center;
	background: url("../public/bg.jpg");
	padding: 40px 0;
}

footer .dev-paragrafo {
	color: #FFFFFF;
	font-size: smaller;
}
footer .dev {
	color: #ffae00;
	text-decoration: none;
}

.logo-footer {
	width: 50px;
	border-radius: 999px;
	border: 1px solid black;
	box-shadow: 0px 0px 10px rgb(249, 229, 0);
}
