@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        padding-bottom: 35px;
    }

    .nav-bar {
        margin-top: 10px;
    }

    .frase-chamativa {
        font-size: 10px;
    }

    .container {
        padding: 0;
    }
    
    .banner {
        width: 100%;
    }

    .input-padrao {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        background: #000000d1;
        box-shadow: 1px 1px 40px #000000;
        padding: 10px;
        align-items: center;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav-bar {
        top: 9%;
    }

    .nav-bar a {
        font-size: 16px;
    }

    .produtos-img {
        width: 100%;
        height: auto;
    }
    
    .principal .utensilios {
        width: 100%;
    }
    
    .imagens-de-demonstracaoo {
        margin: 0;
    }

    .frase-chamativa {
        font-size: 5px;
    }
}

.logo {
	width: 100px;
	border-radius: 999px;
	margin-left: 30px;
    margin: auto;
}

ul {
    margin-top: 20%;
}

@media (max-width: 430px) {
    .header {
        padding-bottom: 55px;
    }
}