* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #d8d8d8;
	width: 100%;
}

header {
	background: #ffae00;
	box-shadow: 1px 1px 40px #000000;
	padding: 10px;
	align-items: center;
	border-top: 2px solid #000000;
	border-bottom: 2px solid black;
}

.logo {
	width: 100px;
	border-radius: 999px;
	border: 1px solid black;
	margin-left: 30px;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
	margin-right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	margin-left: 10px;
}

nav a:hover {
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 20px#ffffff;
	cursor: pointer;
}

.produtos-img {
	border: 1px solid rgb(185, 157, 2);
	box-shadow: 0px 0px 25px black;
	border-radius: 8px;
	width: 300px;
	height: 380px;
}

.FE-ETIQUETAS-span {
	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	font-weight: 600;
	color: rgb(151, 151, 1);
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

form {
	margin: 40px 40px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

table {
	margin-left: 40px;
	margin-bottom: 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css da página inicial */
.imagens-de-demonstracao {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
	margin: 90px;
	gap: 15px;
}

.banner {
	margin-top: 30px;
	width: 300px;
	border: 2px solid black;
	box-shadow: 0px 0px 80px rgb(0, 0, 0);
}

main {
	width: 100%;
}

@import url(./fontes/textoFontes.css);

.titulo-principal {
	text-align: center;
	font-family: "Ms Madi", serif;
	font-weight: 100;
	font-size: 110px;
	margin: 0 0 0.5em;
	clear: left;
	color: black;
	text-shadow: 0px 0px 20px gold;
	animation: animaTitulo 5s infinite;
}
@keyframes animaTitulo {
	10% {
		text-shadow: 0px 0px 15px rgb(209, 178, 1);
	}
	30%{
		text-shadow: 0px 0px 30px gold;
	}
	50% {
		text-shadow: 0px 0px 15px rgb(209, 178, 1);
	}
	70% {
		text-shadow: 0px 0px 30px gold;
	}
	100% {
		text-shadow: 0px 0px 20px gold;
	}
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	align-content: center;
}

.conteiner-textos {
	margin: 50px;
	margin-bottom: 50px;
}
.conteiner-textos p {
	padding: 5px;
	font-size: 16px;
}

.principal .utensilios {
	margin-top: 20px;
	width: 250px;
	box-shadow: 0px 0px 50px black;
	border: 1px solid #000000;
	border-radius: 50px 3px 100px 3px;
	align-items: center;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    gap: 20px;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 60px 0px;
}

li.itens{
	font-family: sans-serif;
	font-size: medium;
	color: #000000;
	transition: 0.2s;
	background-color: 0px 0px 6px #d8d8d8;
}
li.itens:hover {
	user-select: none;
	cursor: auto;

	text-shadow: 0px 0px 10px #efe944;
}

.itens {
	line-height: 1.5;
	text-transform: uppercase;
}

.itens:first-child {
	font-weight: bold;
}

.itens::after {
	content: ".";
}

.imagem-beneficios {
	width: 30%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 20;
	transform: scale(1.05);
}

.video {
	width: 45%;
	margin: 10vh auto;
	margin-top: 150px;
	margin-bottom: 150px;
}

.video .video-wpp {
	border: none;
}

footer {
	text-align: center;
	background: url(../public/bg.jpg);
	padding: 40px 0;
}

footer .dev-paragrafo {
	color: #FFFFFF;
	font-size: smaller;
}
footer .dev {
	color: #ffae00;
	text-decoration: none;
}

.logo-footer {
	width: 50px;
	border-radius: 999px;
	border: 1px solid black;
	box-shadow: 0px 0px 10px rgb(249, 229, 0);
}
