@import url(./fontes/textoFontes.css);
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #d8d8d8;
	width: 100%;
}

header {
	background: #000000d1;
	box-shadow: 1px 1px 40px #000000;
	padding: 10px;
	align-items: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.logo {
	width: 100px;
	border-radius: 999px;
	margin-left: 30px;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
	margin-right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	margin-left: 10px;
}

nav a:hover {
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 20px#ffffff;
	cursor: pointer;
}

.produtos-img {
	border: 1px solid rgb(185, 157, 2);
	box-shadow: 0px 0px 25px black;
	border-radius: 8px;
	width: 300px;
	height: 380px;
}

.FE-ETIQUETAS-span {
	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	font-weight: 600;
	color: rgb(151, 151, 1);
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

form {
	margin: 40px 40px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

table {
	margin-left: 40px;
	margin-bottom: 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css da página inicial */

.banner {
	position: relative;
	width: 100%;
	height: 85vh;
	background: url('../public/img/img-fundo-peças.jpeg') no-repeat center center/cover;
	display: flex;
	align-items: center;
	justify-content: center;

	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0;
}

.banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.banner-text {
	position: relative;
	color: white;
	background-color: #000000b1;
	padding: 5%;
	font-size: 80px;
	font-weight: 100;
	max-width: 80%;
}

.banner-text h1 {
	width: max-content;
	font-family: "Ms Madi", serif;
}

main {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-family: "Ms Madi", serif;
	font-weight: 600;
	font-size: 85px;
	margin: 0 0 0.5em;
	clear: left;
	color: black;
}

.principal {
	padding: 3em 0;
	width: 940px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	align-content: center;
}

.conteiner-textos {
	margin: 50px;
	margin-bottom: 50px;
}
.conteiner-textos p {
	padding: 5px;
	font-size: 25px;
}
.conteiner-textos strong {
	font-size: 20px;
}

.principal .utensilios {
	margin-top: 20px;
	width: 250px;
	align-items: center;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 50px;

	
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 0px;
    gap: 20px;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 60px 0px;
}

.imagem-beneficios {
	width: 30%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 20;
	transform: scale(1.05);
}

.video {
	width: 45%;
	margin: 10vh auto;
	margin-top: 150px;
	margin-bottom: 150px;
}

.video .video-wpp {
	border: none;
}

footer {
	text-align: center;
	background: url(../public/bg.jpg);
	padding: 40px 0;
}

footer .dev-paragrafo {
	color: #FFFFFF;
	font-size: smaller;
}
footer .dev {
	color: #ffae00;
	text-decoration: none;
}

.logo-footer {
	width: 50px;
	border-radius: 999px;
	border: 1px solid black;
	box-shadow: 0px 0px 10px rgb(249, 229, 0);
}

/* animacoes */
@import url(./fontes/textoFontes.css);

@keyframes animaTitulo {
	10% {
		text-shadow: 0px 0px 15px rgb(209, 178, 1);
	}
	30%{
		text-shadow: 0px 0px 30px gold;
	}
	50% {
		text-shadow: 0px 0px 15px rgb(209, 178, 1);
	}
	70% {
		text-shadow: 0px 0px 30px gold;
	}
	100% {
		text-shadow: 0px 0px 20px gold;
	}
}

@keyframes appear {
	from{
		opacity: 0;
		scale: 0.8;
	}
	to{
		opacity: 1;
		scale: 1;
	}
}

@keyframes appearSide {
	from{
		opacity: 0;
		transform: translateX(-80px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

#content-animacao {
	animation: appearSide linear;
	animation-timeline: view();
	animation-range: entry 0 cover 25%;
}

#animacao-aparicao {
	animation: appear 0.3s linear;
}