.monsieur-la-doulaise-regular {
	font-family: "Monsieur La Doulaise", serif;
	font-weight: 400;
	font-style: normal;
}

.ms-madi-regular {
	font-family: "Ms Madi", serif;
	font-weight: 400;
	font-style: normal;
  }
  